@import "index/header.css";
@import "index/nav.css";

body {
  background-image: url("../img/background_car.png");
  background-repeat: repeat;
  background-size: 250px;
}

nav {
  float: left;
  width: 10%;
  background: white;
}

nav ul {
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
}

article p, article h1 {
  background-color: white;
}

* {
  box-sizing: border-box;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
